{% extends 'base.html' %} {% block content %}

<h1>Welcome to CSV Insighter</h1>
<form action="/" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="formFile" class="form-label">Please Upload csv file!</label>
    <input name="file" class="form-control" type="file" id="formFile" required />
  </div>

  <div class="input-group">
    <span class="input-group-text">Query</span>
    <input
      name="query"
      type="text"
      aria-label="Query"
      class="form-control"
      value="{{query}}"
    />
  </div>
  <input type="submit" class="mt-3" />
</form>
{% if answer %}
<div class="alert alert-success my-3" role="alert">Result : {{answer}}</div>
{% endif %}
<hr />
{% if value|length > 0 %}
<table class="table">
  <thead>
    <tr>
      {% for header in value.columns %}
      <th scope="col">{{header}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for row in value.data %}
    <tr>
      {% for col in row %}
      <td>{{ col }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
